
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" class="is-loading is-home">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#000000">

		<link rel="home" href="https://innovation.vincotte.be/fr/" />


		<link href="https://innovation.vincotte.be/css/main.100647fb40.css" rel="stylesheet">

	<title>Vinçotte Innovation — Innovating today for a safer tomorrow</title>
<script type="text/javascript">dl = [];
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dl','GTM-NMR9V3N');
</script><meta name="generator" content="SEOmatic">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="robots" content="all">
<meta content="fr_FR" property="og:locale">
<meta content="fr_FR" property="og:locale:alternate">
<meta content="nl_NL" property="og:locale:alternate">
<meta content="Vinçotte Innovation — Innovating today for a safer tomorrow" property="og:site_name">
<meta content="website" property="og:type">
<meta content="https://innovation.vincotte.be/fr/" property="og:url">
<meta content="Vinçotte Innovation — Innovating today for a safer tomorrow" property="og:title">
<link href="https://innovation.vincotte.be/fr" rel="canonical">
<link href="https://innovation.vincotte.be/fr" rel="home">
<link type="text/plain" href="https://innovation.vincotte.be/fr/humans.txt" rel="author">
<link href="https://innovation.vincotte.be/fr" rel="alternate" hreflang="fr">
<link href="https://innovation.vincotte.be/nl" rel="alternate" hreflang="x-default">
<link href="https://innovation.vincotte.be/nl" rel="alternate" hreflang="nl"></head>


	<body class="home"><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMR9V3N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


		<div class="c-viewport-height js-c-viewport-height fixed pin-t pin-b -ml-px w-px text-0 leading-0"></div>

		<script>
    var $buoop = {
        notify: {
            e: 10,
            f: -6,
            o: -0.01,
            s: -2,
            c: -10
        },
        insecure: false,
        style: "top",
        unsupported: false,
        api: 5,
        no_permanent_hide: false,
        noclose:true,
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {
        document.addEventListener("DOMContentLoaded", $buo_f, false)
    } catch (e) {
        window.attachEvent("onload", $buo_f)
    }
</script>



<div class="c-grid-lines ">

    <div class="c-grid-lines__lines c-grid-lines__lines--horizontal">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

    <div class="c-grid-lines__lines c-grid-lines__lines--vertical">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

</div>



<style>
    html{
        opacity: 0;
    }
    .c-loading-screen{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #02122D;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }
</style>

<script>
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>

<div class="c-loading-screen c-loading-screen--home  js-c-loading-screen fixed z-9999 pin-x pin-y flex items-center content-center bg-grey-darkest text-center text-0 leading-0">



<div class="c-grid-lines ">

    <div class="c-grid-lines__lines c-grid-lines__lines--horizontal">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

    <div class="c-grid-lines__lines c-grid-lines__lines--vertical">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

</div>    <span class="c-loading-screen__icon js-c-loading-screen__icon">

    </span>

</div>
		<div class="c-site-wrapper js-c-site-wrapper flex flex-col min-h-screen">

			<div class="c-site-wrapper__row c-site-wrapper__row--header flex-shrink relative z-20">




<header class="c-header js-c-header c-header--home  relative">



                <div class="c-header__row c-header__row--primary js-c-header__row--primary py-4 sm:py-6 relative z-1">
        <div class="c-container c-container--fullwidth">

            <div class="flex items-center justify-between w-full">




<div class="c-logo js-c-logo c-logo--home  inline-block relative text-0">

    <a class="c-logo__link flex items-center" href="https://innovation.vincotte.be/fr/">

        <div class="js-c-logo__svg-wrapper">
            <svg class="c-logo__svg js-c-logo__svg c-svg text-white" width="63" height="63" viewBox="0 0 63 63"><path d="m39.0197239 7.20816297-2.6227351 4.32639223-10.4311633 17.2806616-1.0859568-1.9153688 2.1793858-3.6065722-4.483308-7.4323284h-11.0961873l11.9330714 19.5472229c.7771068 1.2603077 2.3288295 2.241654 4.6576589 2.241654s3.9602554-.9838371 4.7323807-2.241654l17.313041-28.20000733z"/><path d="m0 0v63h63v-63zm61 61h-59v-17h59zm0-19h-59v-40h59z"/><path d="m10.944 48.295h2.06l-2.986 8.474h-1.318l-2.986-8.474h2.057l1.589 5.221z"/><path d="m13.861 48.295h1.91v8.381h-1.91z"/><path d="m21.893 56.676-2.891-4.513.022 4.513h-1.855v-8.381h1.487l2.894 4.516-.023-4.516h1.856v8.381z"/><path d="m27.9534254 48.0959319c.9614204 0 1.8531006.1021198 2.4658194.3686275v1.977637c-.7741223-.3507999-1.6159964-.5268281-2.4658194-.5155804-1.1332807 0-1.521834 1.0187072-1.521834 2.560467s.3885533 2.5579763 1.521834 2.5579763c.8496678.0123566 1.6916041-.1628342 2.4658194-.5130897v1.977637c-.6127188.2689984-1.494436.3686275-2.4658194.3686275-2.615263 0-3.4546379-1.7883417-3.4546379-4.3911511s.8393749-4.3911511 3.4546379-4.3911511m6.724962 1.8306841c-1.1955488 0-1.3748812.8617914-1.3748812 2.5579763 0 1.6961848.1793324 2.560467 1.3748812 2.560467s1.3748811-.8617914 1.3748811-2.560467-.1818231-2.5579763-1.3748811-2.5579763m0 6.9516181c-2.9191317 0-3.3051943-2.2018024-3.3051943-4.3936418 0-2.1918395.3860626-4.3886604 3.3051943-4.3886604 2.9191316 0 3.307685 2.2018024 3.307685 4.3886604s-.3810812 4.3936418-3.307685 4.3936418"/><path d="m42.265 50.131v6.545h-1.91v-6.545h-2.003v-1.836h5.911v1.836z"/><path d="m48.813 50.131v6.545h-1.91v-6.545h-2.003v-1.836h5.913v1.836z"/><path d="m56.823 53.279h-3.173v1.564h3.497v1.833h-5.372v-8.381h5.372v1.833h-3.497v1.308h3.173z"/><path d="m26.905 57.807h3.422v1.746h-3.422z"/></svg>
        </div>

        <span class="c-logo__label text-base text-white font-bold pl-2 leading-none pt-0.5">
            innovation
        </span>

    </a>

</div>

                <div class="flex items-center">






        <nav class="c-language-nav mr-3 md:ml-3 md:order-2 mt-0.5">

            <ul class="c-language-nav__list flex items-center justify-center text-0">


                <li class="c-language-nav__item c-language-nav__item--nl mr-2">



                    <a class="c-language-nav__link c-language-nav__link--nl block group" href="https://innovation.vincotte.be/nl/">

                        <span class="c-language-nav__label inline-block align-middle font-primary border-b border-transparent group-hover:text-default uppercase text-14 text-santas-grey ease-out-back">
                            nl
                        </span>

                    </a>

                </li>




                <li class="c-language-nav__item is-active c-language-nav__item--fr ">



                    <a class="c-language-nav__link c-language-nav__link--fr block group" href="https://innovation.vincotte.be/fr/">

                        <span class="c-language-nav__label inline-block align-middle font-primary border-b border-transparent group-hover:text-default uppercase text-14 text-santas-grey ease-out-back">
                            fr
                        </span>

                    </a>

                </li>


            </ul>

        </nav>







<div class="c-mobile-nav-trigger js-c-mobile-nav-trigger md:order-1">

    <button class="c-mobile-nav-trigger__trigger js-c-mobile-nav-trigger__trigger w-full p-0 cursor-pointer bg-transparent text-center text-0 hamburger hamburger--squeeze group" type="button">

        <div class="c-mobile-nav-trigger__inner flex items-center justify-center relative">


            <span class="c-mobile-nav-trigger__label js-c-mobile-nav-trigger__label" data-close-label="sluit" data-default-label="menu">
                menu
            </span>

            <div class="c-mobile-nav-trigger__button">

                <div class="c-mobile-nav-trigger__hamburger-box">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>

                <span class="c-mobile-nav-trigger__button-hover-surface"></span>

            </div>

        </div>

    </button>

</div>
                </div>

            </div>

        </div>
    </div>



                <div class="c-header__row c-header__row--nav js-c-header__row--nav hidden absolute pin-x z-0">

        <div class="c-header__bg absolute pin-x pin-y">




<div class="c-grid-lines c-grid-lines--header ">

    <div class="c-grid-lines__lines c-grid-lines__lines--horizontal">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

    <div class="c-grid-lines__lines c-grid-lines__lines--vertical">
                    <div class="c-grid-lines__line c-grid-lines__line--1"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--2"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--3"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--4"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--5"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--6"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--7"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--8"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--9"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--10"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--11"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--12"></div>
                    <div class="c-grid-lines__line c-grid-lines__line--13"></div>
            </div>

</div>
        </div>

        <div class="c-header__nav-inner js-c-header__nav-inner relative flex flex-col h-full">

            <div class="c-header__nav-row c-header__nav-row--body flex items-center flex-grow">

                <div class="c-header__primary-nav-wrapper js-c-header__primary-nav-wrapper w-full">
                    <div class="c-container">








    <nav class="c-primary-nav js-c-primary-nav c-primary-nav--mobile-nav js-c-primary-nav--mobile-nav  text-0">

        <ul class="c-primary-nav__list test flex">



                <li class="c-primary-nav__item js-c-primary-nav__item is-active is-first">
            <a class="c-primary-nav__link js-c-primary-nav__link is-active is-first block" href="https://innovation.vincotte.be/fr/" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    Accueil

                </span>

            </a>


        </li>





                <li class="c-primary-nav__item js-c-primary-nav__item">
            <a class="c-primary-nav__link js-c-primary-nav__link block" href="https://innovation.vincotte.be/fr/innovations" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    Innovations

                </span>

            </a>


        </li>





                <li class="c-primary-nav__item js-c-primary-nav__item">
            <a class="c-primary-nav__link js-c-primary-nav__link block" href="https://innovation.vincotte.be/fr/drones" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    Drones

                </span>

            </a>


        </li>





                <li class="c-primary-nav__item js-c-primary-nav__item">
            <a class="c-primary-nav__link js-c-primary-nav__link block" href="https://innovation.vincotte.be/fr/digital-innovation-lab" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    Digital Innovation Lab

                </span>

            </a>


        </li>





                <li class="c-primary-nav__item js-c-primary-nav__item">
            <a class="c-primary-nav__link js-c-primary-nav__link block" href="https://innovation.vincotte.be/fr/a-propos-de-vincotte" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    À propos de Vinçotte

                </span>

            </a>


        </li>





                <li class="c-primary-nav__item js-c-primary-nav__item">
            <a class="c-primary-nav__link js-c-primary-nav__link block" href="https://innovation.vincotte.be/fr/contact" >

                <span class="c-primary-nav__label js-c-primary-nav__label c-primary-nav__link-label block">

                    Contact

                </span>

            </a>


        </li>




        </ul>

    </nav>

                    </div>
                </div>

            </div>

            <div class="c-header__nav-row c-header__nav-row--footer">

                <div class="c-header__bottom-nav-wrapper js-c-header__bottom-nav-wrapper w-full pt-3 pb-3 md:pb-6">

                    <div class="c-container c-container--fullwidth">

                        <div class="flex flex-col sm:flex-row sm:justify-between items-start sm:items-center">






        <nav class="c-language-nav sm:pt-3 pb-3 md:pb-0">

            <ul class="c-language-nav__list flex items-center justify-center text-0">


                <li class="c-language-nav__item c-language-nav__item--nl mr-2">



                    <a class="c-language-nav__link c-language-nav__link--nl block group" href="https://innovation.vincotte.be/nl/">

                        <span class="c-language-nav__label inline-block align-middle font-primary border-b border-transparent group-hover:text-default uppercase text-14 text-santas-grey ease-out-back">
                            nl
                        </span>

                    </a>

                </li>




                <li class="c-language-nav__item is-active c-language-nav__item--fr ">



                    <a class="c-language-nav__link c-language-nav__link--fr block group" href="https://innovation.vincotte.be/fr/">

                        <span class="c-language-nav__label inline-block align-middle font-primary border-b border-transparent group-hover:text-default uppercase text-14 text-santas-grey ease-out-back">
                            fr
                        </span>

                    </a>

                </li>


            </ul>

        </nav>




                            <div class="flex items-end pb-3 md:pb-0">

                                <span class="text-santas-grey text-16 font-bold mr-2 leading-0 whitespace-no-wrap mb-0.5">
                                    Volg ons
                                </span>





<div class="c-social-nav c-social-nav--home ">

    <ul class="c-social-nav__list flex -ml-2 text-0">


            <li class="c-social-nav__item c-social-nav__item--facebook pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--facebook inline-block leading-0" target="_blank" href="https://www.facebook.com/VincotteOfficial/">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--facebook c-svg" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>
                    </span>

                </a>
            </li>


            <li class="c-social-nav__item c-social-nav__item--linkedin pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--linkedin inline-block leading-0" target="_blank" href="https://nl.linkedin.com/company/vincotte">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--linkedin c-svg" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m128.403575 29.1304905h3.118532v10.8684851h-3.118532zm1.479774-1.3594571h-.022578c-1.12888 0-1.860771-.8308362-1.860771-1.8829555 0-1.073633.753528-1.8880779 1.904986-1.8880779 1.150517 0 1.857949.812396 1.880527 1.8850045 0 1.0521193-.73001 1.8860289-1.902164 1.8860289zm14.116651 12.2289666h-3.536218v-5.6253041c0-1.4721475-.553152-2.4761173-1.76952-2.4761173-.930386 0-1.44779.6771673-1.688618 1.3317966-.09031.2335766-.076199.5603791-.076199.8882059v5.8814189h-3.503293s.045156-9.9638878 0-10.8695095h3.503293v1.7057241c.206961-.7458061 1.326435-1.810219 3.112888-1.810219 2.216369 0 3.957667 1.5643489 3.957667 4.9296966z" transform="translate(-128 -24)"/></svg>
                    </span>

                </a>
            </li>


            <li class="c-social-nav__item c-social-nav__item--twitter pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--twitter inline-block leading-0" target="_blank" href="https://twitter.com/VincotteBelgium">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--twitter c-svg" width="18" height="15" viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg"><path d="m263.879556 27.371443c.762811-.4680052 1.348125-1.2100968 1.622821-2.0941066-.71421.4344215-1.503434.7485917-2.345483.9186769-.671949-.7366749-1.63233-1.1960133-2.695193-1.1960133-2.039091 0-3.691495 1.6954355-3.691495 3.7862921 0 .2968366.030639.5860898.094031.8623429-3.068146-.1581684-5.788696-1.6640185-7.611199-3.9563773-.318014.5611729-.499736 1.2111801-.499736 1.9045212 0 1.3130145.651875 2.4721941 1.642895 3.152535-.605389-.0195002-1.174855-.1917521-1.673535-.4734219v.0465838c0 1.8351871 1.272055 3.3659541 2.96355 3.7126246-.310618.0888343-.636027.1332515-.974115.1332515-.237718 0-.470153-.0227503-.694136-.0671674.469097 1.5036833 1.833069 2.6000289 3.449551 2.6292792-1.264659 1.0161779-2.856841 1.6206847-4.586371 1.6206847-.29794 0-.59271-.0162502-.881141-.0520006 1.634443 1.0735952 3.575277 1.7008522 5.660856 1.7008522 6.793449 0 10.506075-5.7698974 10.506075-10.7738697 0-.1646685-.002113-.3282537-.009509-.4896721.721606-.5340893 1.349181-1.20143 1.842578-1.9608551-.662441.30117-1.374538.5048389-2.120444.5958399z" transform="translate(-248 -25)"/></svg>
                    </span>

                </a>
            </li>


    </ul>

</div>


                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


</header>


			</div>

			<div class="c-site-wrapper__row c-site-wrapper__row--main relative z-0 flex-grow flex-no-shrink w-full mx-auto">

				<main class="c-main js-c-main h-full" role="main">


    <div class="p-home c-page">







<div class="c-home-slider  relative">

    <div class="c-home-slider__bg-gradient absolute pin-x pin-y"></div>

    <ul class="c-home-slider__slides js-c-home-slider__slides relative" data-random-string="" data-autoplay-speed="0">


            <li class="c-home-slider__slide js-c-home-slider__slide" style="height: 100vh;" data-index="0">

                <div class="c-container md:h-full flex items-center">

                    <div class="c-home-slider__columns js-c-home-slider__columns flex flex-wrap items-center pt-16 md:pt-20 pb-6 -ml-6 md:-ml-12">

                                                                                                <div class="c-home-slider__column c-home-slider__column--content flex items-center md:order-1 w-full md:w-1/2 pl-6 md:pl-12">

                            <div class="c-home-slider__content js-c-home-slider__content w-full pt-6 md:pt-0">


                                    <h1 class="c-home-slider__title js-c-home-slider__title font-bold text-64r leading-none text-white" style="opacity: 0">
                                        Ensemble vers un environnement plus sûr et plus efficace
                                    </h1>


                                                                    <a class="c-home-slider__button js-c-home-slider__button c-button c-button--primary mt-4 sm:mt-8"  href="https://innovation.vincotte.be/fr/a-propos-de-vincotte" style="opacity: 0">

                                        <span class="c-home-slider__button-bg c-button__bg pin-l js-c-button__bg pin-l"></span>

                                        <span class="c-home-slider__button-label c-button__label js-c-button__label">
                                                                                            A propos de Vinçotte
                                                                                    </span>

                                    </a>


                            </div>

                        </div>

                                                                                                <div class="c-home-slider__column c-home-slider__column--image md:order-2 w-full md:w-1/2 pt-4 md:pt-0 pl-6 md:pl-12 ">

                            <div class="h-full w-full relative">

                                                                <figure class="c-home-slider__figure js-c-home-slider__figure c-figure" style="opacity: 0; transform: translateX(48px);">
                                    <img
      srcset="
          https://innovation.vincotte.be/uploads/general/_480xAUTO_crop_center-center_none/Flyability-Elios-Isolated-0-1.png 480w,          https://innovation.vincotte.be/uploads/general/_768xAUTO_crop_center-center_none/Flyability-Elios-Isolated-0-1.png 768w,          https://innovation.vincotte.be/uploads/general/_960xAUTO_crop_center-center_none/Flyability-Elios-Isolated-0-1.png 960w,          https://innovation.vincotte.be/uploads/general/_1536xAUTO_crop_center-center_none/Flyability-Elios-Isolated-0-1.png 1536w        "
        sizes="(min-width: 960px) 50vw, 100vw"
    src="https://innovation.vincotte.be/uploads/general/_480xAUTO_crop_center-center_none/Flyability-Elios-Isolated-0-1.png"
              class="c-home-slider__image c-figure__image"
                =""
          />


                                </figure>

                            </div>

                        </div>


                    </div>

                </div>

            </li>


    </ul>


</div>





                                            <section class="p-home__row p-home__row--preface my-6 sm:my-8 md:my-12 lg:my-16 js-c-home-intro-block">
                <div class="c-container text-center">

                                            <h2 class="c-home-intro-block__title js-c-home-intro-block__title max-w-md mx-auto text-40r font-bold leading-tight">
                            Découvrez nos solutions
                        </h2>

                                            <a class="c-home-intro-block__link js-c-home-intro-block__link c-link group text-white text-14 mt-5"  href="https://innovation.vincotte.be/fr/innovations">
                            <span class="c-link__label group-hover:text-white">
                                                                    Toutes nos innovations
                                                            </span>
                        </a>

                </div>
            </section>




            <section class="p-home__row p-home__row--featured-innovations my-6 sm:my-8 md:my-12 lg:my-16">

                <div class="c-innovations-list js-c-innovations-list relative">

                    <ul class="c-innovations-list__list relative z-0">



                            <li class="c-innovations-list__item js-c-innovations-list__item my-6 sm:my-8 md:my-12 lg:my-16">





<div class="c-innovation-item js-c-innovation-item c-innovation-item--home c-innovation-item--is-odd ">

    <a href="https://innovation.vincotte.be/fr/innovations/grâce-aux-drones-et-aux-techniques-digitales-avancées-vinçotte-relève-les-défis-majeurs-liés-aux-inspections-difficiles" class="c-innovation-item__link text-0 w-full h-full relative">

        <div class="c-innovation-item__columns flex flex-wrap sm:flex-no-wrap">

            <div class="c-innovation-item__column c-innovation-item__column--image js-c-innovation-item__column--image w-full">



                        <div class="c-innovation-item__media-wrapper relative overflow-hidden js-c-innovation-item__media-wrapper">



                                    <img
      srcset="
          https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/190626Vin227-final.jpg 480w,          https://innovation.vincotte.be/uploads/general/_768x563_crop_center-center_none/190626Vin227-final.jpg 768w,          https://innovation.vincotte.be/uploads/general/_960x704_crop_center-center_none/190626Vin227-final.jpg 960w,          https://innovation.vincotte.be/uploads/general/_1536x1126_crop_center-center_none/190626Vin227-final.jpg 1536w        "
        sizes="(min-width: 960px) 50vw, (min-width: 1200px) 37.5vw, (min-width: 1440px) 50vw, 100vw"
    src="https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/190626Vin227-final.jpg"
              class="absolute pin-y pin-x object-cover w-full h-full block"
                data-object-fit="cover"
                data-object-position="50% 50%"
                style="object-position:50% 50%"
          />



                                    <div class="absolute pin-y pin-x bg-primary z-1" style="opacity:.15;"></div>



                        </div>



            </div>

            <div class="c-innovation-item__column c-innovation-item__column--content js-c-innovation-item__column--content w-full">

                <div class="c-innovation-item__content h-full w-full flex flex-col justify-center pt-4 sm:py-6 lg:py-12 xl:py-16 ">

                                            <ul class="c-innovation-item__innovation-types js-c-innovation-item__innovation-types mb-1 sm:mb-2.5 flex flex-wrap">
                                                            <li class="c-innovation-item__innovation-type text-primary uppercase text-15 tracking-wide mb-0.5 mr-0.5">
                                    Drones &amp; robotique
                                </li>
                                                    </ul>

                    <h3 class="c-innovation-item__title js-c-innovation-item__title max-w-54 text-white font-semibold text-48r leading-none">
                        Drones et techniques digitales avancées pour relever les défis majeurs liés aux inspections difficiles
                    </h3>

                </div>

            </div>

        </div>

    </a>

</div>



                            </li>



                            <li class="c-innovations-list__item js-c-innovations-list__item my-6 sm:my-8 md:my-12 lg:my-16">





<div class="c-innovation-item js-c-innovation-item c-innovation-item--home c-innovation-item--is-even ">

    <a href="https://innovation.vincotte.be/fr/innovations/pour-des-actifs-sécurisés-24-heures-sur-24-7-jours-sur-7-et-un-accès-plus-rapide-à-linformation-critique" class="c-innovation-item__link text-0 w-full h-full relative">

        <div class="c-innovation-item__columns flex flex-wrap sm:flex-no-wrap">

            <div class="c-innovation-item__column c-innovation-item__column--image js-c-innovation-item__column--image w-full">



                        <div class="c-innovation-item__media-wrapper relative overflow-hidden js-c-innovation-item__media-wrapper">



                                    <img
      srcset="
          https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/Image-Digital-Tagging.png 480w,          https://innovation.vincotte.be/uploads/general/_768x563_crop_center-center_none/Image-Digital-Tagging.png 768w        "
        sizes="(min-width: 960px) 50vw, (min-width: 1200px) 37.5vw, (min-width: 1440px) 50vw, 100vw"
    src="https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/Image-Digital-Tagging.png"
              class="absolute pin-y pin-x object-cover w-full h-full block"
                data-object-fit="cover"
                data-object-position="50% 50%"
                style="object-position:50% 50%"
          />



                                    <div class="absolute pin-y pin-x bg-primary z-1" style="opacity:.15;"></div>



                        </div>



            </div>

            <div class="c-innovation-item__column c-innovation-item__column--content js-c-innovation-item__column--content w-full">

                <div class="c-innovation-item__content h-full w-full flex flex-col justify-center pt-4 sm:py-6 lg:py-12 xl:py-16 ">

                                            <ul class="c-innovation-item__innovation-types js-c-innovation-item__innovation-types mb-1 sm:mb-2.5 flex flex-wrap">
                                                            <li class="c-innovation-item__innovation-type text-primary uppercase text-15 tracking-wide mb-0.5 mr-0.5">
                                    Digital tagging
                                </li>
                                                    </ul>

                    <h3 class="c-innovation-item__title js-c-innovation-item__title max-w-54 text-white font-semibold text-48r leading-none">
                        Pour un accès rapide et sécurisé aux informations critiques de vos équipements
                    </h3>

                </div>

            </div>

        </div>

    </a>

</div>



                            </li>



                            <li class="c-innovations-list__item js-c-innovations-list__item my-6 sm:my-8 md:my-12 lg:my-16">





<div class="c-innovation-item js-c-innovation-item c-innovation-item--home c-innovation-item--is-odd ">

    <a href="https://innovation.vincotte.be/fr/innovations/traçabilité-des-aliments-de-la-ferme-à-lassiette" class="c-innovation-item__link text-0 w-full h-full relative">

        <div class="c-innovation-item__columns flex flex-wrap sm:flex-no-wrap">

            <div class="c-innovation-item__column c-innovation-item__column--image js-c-innovation-item__column--image w-full">



                        <div class="c-innovation-item__media-wrapper relative overflow-hidden js-c-innovation-item__media-wrapper">



                                    <img
      srcset="
          https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/190110Vin027.jpg 480w,          https://innovation.vincotte.be/uploads/general/_768x563_crop_center-center_none/190110Vin027.jpg 768w,          https://innovation.vincotte.be/uploads/general/_960x704_crop_center-center_none/190110Vin027.jpg 960w,          https://innovation.vincotte.be/uploads/general/_1536x1126_crop_center-center_none/190110Vin027.jpg 1536w        "
        sizes="(min-width: 960px) 50vw, (min-width: 1200px) 37.5vw, (min-width: 1440px) 50vw, 100vw"
    src="https://innovation.vincotte.be/uploads/general/_480x352_crop_center-center_none/190110Vin027.jpg"
              class="absolute pin-y pin-x object-cover w-full h-full block"
                data-object-fit="cover"
                data-object-position="50% 50%"
                style="object-position:50% 50%"
          />



                                    <div class="absolute pin-y pin-x bg-primary z-1" style="opacity:.15;"></div>



                        </div>



            </div>

            <div class="c-innovation-item__column c-innovation-item__column--content js-c-innovation-item__column--content w-full">

                <div class="c-innovation-item__content h-full w-full flex flex-col justify-center pt-4 sm:py-6 lg:py-12 xl:py-16 ">

                                            <ul class="c-innovation-item__innovation-types js-c-innovation-item__innovation-types mb-1 sm:mb-2.5 flex flex-wrap">
                                                            <li class="c-innovation-item__innovation-type text-primary uppercase text-15 tracking-wide mb-0.5 mr-0.5">
                                    Blockchain
                                </li>
                                                    </ul>

                    <h3 class="c-innovation-item__title js-c-innovation-item__title max-w-54 text-white font-semibold text-48r leading-none">
                        Traçabilité des aliments : de la ferme à la fourchette
                    </h3>

                </div>

            </div>

        </div>

    </a>

</div>



                            </li>


                    </ul>

                                                                <div class="c-innovations-list__button-wrapper text-center lg:text-left lg:absolute lg:pin-t lg:pin-r lg:inline-block lg:mr-1/12 xxl:mr-1/6 z-1 mt-4 sm:mt-6 lg:mt-0">
                            <a class="c-innovations-list__button js-c-innovations-list__button c-button c-button--primary lg:-mr-4" href="https://innovation.vincotte.be/fr/innovations">

                                <span class="c-innovations-list__button-bg c-button__bg pin-l"></span>

                                <span class="c-innovations-list__button-label c-button__label">
                                    Alle innovaties
                                </span>

                            </a>
                        </div>


                </div>

            </section>





            <section class="p-home__row p-home__row--pinned-content my-6 sm:my-8 md:my-12 lg:my-16 xl:my-20">
                <div class="c-container">





<div class="c-pinned-content js-c-pinned-content c-pinned-content--home ">

    <div class="c-pinned-content__columns flex flex-wrap">

        <div class="c-pinned-content__column c-pinned-content__column--nav js-c-pinned-content__column--nav md:pr-6 w-full md:w-1/2">

                            <div class="c-pinned-content__pinned-nav js-c-pinned-content__pinned-nav">

                                            <h2 class="c-pinned-content__title js-c-pinned-content__title font-bold text-64r leading-none pt-6">
                            L&#039;innovation<br />
au service de<br />
nos clients
                        </h2>

                                            <ul class="c-pinned-content__list mt-4 sm:mt-6 hidden md:block">
                                                            <li class="c-pinned-content__nav-item js-c-pinned-content__nav-item" data-index="1">

                                    <a class="c-pinned-content__nav-link js-c-pinned-content__nav-link js-c-scroll-link is-active border-l border-primary py-4 pl-4 inline-block transition" href="#1" data-index="1">
                                        <span class="c-pinned-content__nav-label text-20r text-white-40 flex transition">
                                            <span class="w-6">01</span>Stimulés par notre
passion
                                        </span>
                                    </a>

                                </li>
                                                            <li class="c-pinned-content__nav-item js-c-pinned-content__nav-item" data-index="2">

                                    <a class="c-pinned-content__nav-link js-c-pinned-content__nav-link js-c-scroll-link  border-l border-primary py-4 pl-4 inline-block transition" href="#2" data-index="2">
                                        <span class="c-pinned-content__nav-label text-20r text-white-40 flex transition">
                                            <span class="w-6">02</span>Co-création
                                        </span>
                                    </a>

                                </li>
                                                            <li class="c-pinned-content__nav-item js-c-pinned-content__nav-item" data-index="3">

                                    <a class="c-pinned-content__nav-link js-c-pinned-content__nav-link js-c-scroll-link  border-l border-primary py-4 pl-4 inline-block transition" href="#3" data-index="3">
                                        <span class="c-pinned-content__nav-label text-20r text-white-40 flex transition">
                                            <span class="w-6">03</span>Digital Innovation Lab
                                        </span>
                                    </a>

                                </li>
                                                    </ul>

                </div>

        </div>

        <div class="c-pinned-content__column c-pinned-content__column--items js-c-pinned-content__column--items w-full md:w-1/2">



                    <div id="1" class="c-pinned-content__item js-c-pinned-content__item pt-6">

                        <div class="c-pinned-content__index text-190r text-primary-20 font-bold leading-none">
                            01
                        </div>

                                                    <h3 class="c-pinned-content-block__title block md:hidden font-bold text-20 mb-2">
                                Stimulés par notre<br />
passion
                            </h3>





<div class="c-description text-grey-light text-20r">
    <p>Passionnée et dynamique, notre équipe innovation explore continuellement les opportunités technologiques capables de faire évoluer les procédés et techniques d'inspection. Notre mission ? Aider nos clients à atteindre l'excellence opérationnelle, réduire les risques et maximiser l'efficacité.<br /></p>
</div>

                                                    <a class="c-link is-visible group text-white text-14 mt-3 sm:mt-5"  href="https://innovation.vincotte.be/fr/a-propos-de-vincotte">
                                <span class="c-link__label group-hover:text-white">
                                                                            Comment nous innovons
                                                                    </span>
                            </a>

                    </div>


                    <div id="2" class="c-pinned-content__item js-c-pinned-content__item pt-6">

                        <div class="c-pinned-content__index text-190r text-primary-20 font-bold leading-none">
                            02
                        </div>

                                                    <h3 class="c-pinned-content-block__title block md:hidden font-bold text-20 mb-2">
                                Co-création
                            </h3>





<div class="c-description text-grey-light text-20r">
    <p>Toujours à la pointe, nos innovations sont le fruit de collaborations collectives intenses avec nos clients, nos équipes mais aussi des start-ups et sociétés pionnières dans des domaines spécifiques.<br /><br /></p>
</div>

                                                    <a class="c-link is-visible group text-white text-14 mt-3 sm:mt-5"  href="https://innovation.vincotte.be/fr/contact">
                                <span class="c-link__label group-hover:text-white">
                                                                            Échangeons nos idées
                                                                    </span>
                            </a>

                    </div>


                    <div id="3" class="c-pinned-content__item js-c-pinned-content__item pt-6">

                        <div class="c-pinned-content__index text-190r text-primary-20 font-bold leading-none">
                            03
                        </div>

                                                    <h3 class="c-pinned-content-block__title block md:hidden font-bold text-20 mb-2">
                                Digital Innovation Lab
                            </h3>





<div class="c-description text-grey-light text-20r">
    <p>Piloté par nos experts en innovation, le Digital Innovation Lab est un environnement collaboratif qui favorise l'incubation d'idées, l'apprentissage et le développement de solutions technologiques. Cet espace accueille également nos clients afin de discuter de leurs difficultés/besoins.<br /></p>
</div>

                                                    <a class="c-link is-visible group text-white text-14 mt-3 sm:mt-5"  href="https://innovation.vincotte.be/fr/digital-innovation-lab">
                                <span class="c-link__label group-hover:text-white">
                                                                            Découvrez-en plus
                                                                    </span>
                            </a>

                    </div>



        </div>

    </div>


</div>


                </div>
            </section>




                                <section class="p-home__row p-home__row--social-feed my-6 mt-10 sm:my-8 md:my-12 lg:my-16 xl:my-20">
            <div class="c-container">

                <div class="c-social-feed js-c-social-feed">


                        <div class="c-social-feed__intro-block js-c-social-feed__intro-block text-center">

                                                            <h3 class="c-social-feed__intro-block-title js-c-social-feed__intro-block-title text-64r font-bold leading-tight">
                                    Volg ons!
                                </h3>

                                                            <div class="c-social-feed__intro-block-text js-c-social-feed__intro-block-text sm:max-w-1/2 md:max-w-1/3 mx-auto mt-4 ">




<div class="c-description text-base text-default">
    <p>Nous sommes motivés par les idées d’aujourd’hui, et prêts pour les solutions de demain. Découvrez ici comment nous innovons.</p>
</div>
                                </div>

                        </div>


                    <ul class="c-social-feed__list js-c-social-feed__list items-start flex flex-wrap -ml-6 md:-ml-8 lg:-ml-16">


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12 sm:pt-12 md:pt-16 lg:pt-20 ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/3104570296245497/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://external-ams4-1.xx.fbcdn.net/safe_image.php?d=AQClDTSbe84VAwmA&amp;w=372&amp;h=372&amp;url=https%3A%2F%2Fwww.vincotte.be%2Fuploads%2FAREI-RGIE-covers-banner-1600x250.jpg&amp;cfs=1&amp;_nc_hash=AQBJDHaBL6OTHeTY" alt="Op 1 juni ging het nieuwe AREI van..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Op 1 juni ging het nieuwe AREI van start. Vanaf deze week gebeuren dan ook alle elektriciteitskeuringen volgens het nieuwe AREI en we leverden ook meteen op de dag van de keuring het eerste -volledig...
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  xs:pt-20 sm:pt-6">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/3039580569411137/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://external-ams4-1.xx.fbcdn.net/safe_image.php?w=627&amp;h=627&amp;url=https%3A%2F%2Flh3.googleusercontent.com%2Fbr4lfkNmvNkO5A6EvSYZjpuvJahYxcQx8Clr3k0m0DKLqYyvR0A-ckgVnccQ7PrCCD9LFHeX33V-NOj0FBhit2k%3Dl80-w1500&amp;cfs=1&amp;_nc_hash=AQALJo0NDol80Gbk" alt="Gefeliciteerd Belfius" />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Gefeliciteerd Belfius
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12 sm:pt-12 md:pt-16 lg:pt-20 ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/3032276333474894/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/96357808_3032275726808288_3386583044335861760_n.png?_nc_cat=108&amp;_nc_sid=8024bb&amp;_nc_ohc=B0Cn4lNqEUsAX8uDUxt&amp;_nc_ht=scontent-ams4-1.xx&amp;oh=d5dc605a8eeb343284dbc6a61f7df9be&amp;oe=5F0E4F02" alt="Vinçotte veut endiguer la propagation..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Vinçotte veut endiguer la propagation du coronavirus lors du déconfinement, non pas à l’aide d’une application de traçage informatique ou des “enquêteurs corona” mais avec des codes QR. Les services...
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/3032273610141833/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/96101865_3032272156808645_7020346898280087552_n.png?_nc_cat=103&amp;_nc_sid=8024bb&amp;_nc_ohc=cX_FpgO0C6IAX-n2Jll&amp;_nc_ht=scontent-ams4-1.xx&amp;oh=c40e078ea79121f81fb58fa090396fcd&amp;oe=5F0EB328" alt="Niet met een contact tracing app of..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Niet met een contact tracing app of coronaspeurders, maar met behulp van QR-codes wil Vinçotte het coronavirus onder controle houden wanneer we terug naar kantoor mogen. De externe diensten voor...
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/2906711439364718/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/s720x720/89656880_2906710516031477_5898006750526701568_o.jpg?_nc_cat=102&amp;_nc_sid=8024bb&amp;_nc_ohc=w6m_-2Gw7DEAX_TDLl1&amp;_nc_ht=scontent-ams4-1.xx&amp;_nc_tp=7&amp;oh=690e988590ea8b972e938d16837c00c3&amp;oe=5F0DBAD0" alt="A partir du 1er juin 2020, la nouvelle..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    A partir du 1er juin 2020, la nouvelle législation RGIE entrera en vigueur. Nous liquidons alors notre stock des livres actuels RGIE 2019.

Si vous souhaitez en recevoir une copie, répondez à cette...
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/2906686649367197/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/p720x720/89889295_2906678829367979_7525097648248848384_o.jpg?_nc_cat=100&amp;_nc_sid=8024bb&amp;_nc_ohc=yc4bCoYCJyEAX-WFozO&amp;_nc_ht=scontent-ams4-1.xx&amp;_nc_tp=6&amp;oh=7c661b1628edc70858049a22a4ecef66&amp;oe=5F0DA980" alt="Vanaf 1 juni 2020 gaat de nieuwe AREI..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Vanaf 1 juni 2020 gaat de nieuwe AREI wetgeving in en we liquideren onze voorraad van de huidige AREI 2019 boeken.

Wil je graag een exemplaar ontvangen, reageer dan op deze post met een foto van...
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/2904444416258087/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t15.5256-10/s720x720/83403007_4119602611387068_6219021801754722304_n.jpg?_nc_cat=103&amp;_nc_sid=ad6a45&amp;_nc_ohc=7wMX1DOdWckAX96ZkJw&amp;_nc_ht=scontent-ams4-1.xx&amp;oh=20319893cef712368d8d534195fb19b0&amp;oe=5F0CD972" alt="https://www.vincotte.be/home" />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    https://www.vincotte.be/home
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/2816851345017395/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/s720x720/83019213_2816851248350738_9036914836381892608_n.jpg?_nc_cat=107&amp;_nc_sid=110474&amp;_nc_ohc=-m9cNn9RZ6kAX_M8zM2&amp;_nc_ht=scontent-ams4-1.xx&amp;_nc_tp=7&amp;oh=bd34b3e4b4b0bff0066bc8f1dcb35860&amp;oe=5F0B141D" alt="“Brussels Airport was CO2 Neutral..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    “Brussels Airport was CO2 Neutral before it became fashionable” says Marc Descheemaecker at the opening of #Skyhall. We know as we certified Brussels Airport together with CO2LOGIC !
</div>


        </div>

    </a>

</div>

                            </li>


                            <li class="c-social-feed__item js-c-social-feed__item w-full xs:w-1/2 sm:w-1/3 pl-6 md:pl-8 lg:pl-16 pt-6 md:pt-8 lg:pt-12  ">





<div class="c-social-feed-item js-c-social-feed-item c-social-feed-item--facebook ">

    <a class="c-social-feed-item__link text-left" href="https://www.facebook.com/575085529193999/posts/2805978066104723/" target="_blank">


            <div class="c-social-feed-item__figure-wrapper js-c-social-feed-item__figure-wrapper">

                <figure class="c-social-feed-item__figure c-figure">

                    <img class="c-figure__image z-0" src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/s720x720/83362444_2805978032771393_2010717179032371200_n.jpg?_nc_cat=110&amp;_nc_sid=110474&amp;_nc_ohc=42I797ElWOwAX_XR3Dh&amp;_nc_ht=scontent-ams4-1.xx&amp;_nc_tp=7&amp;oh=d7cd62f57398903b9619f26a192ad19c&amp;oe=5F0EB64A" alt="Vandaag trainen we al onze 1.600..." />


                    <div class="absolute pin-y pin-x bg-primary z-2" style="opacity:.15;"></div>



                        <svg class="c-social-feed-item__svg c-social-feed-item__svg--facebook text-primary c-svg absolute z-3 pin-t pin-l ml-3 mt-3 h-2" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>


                </figure>

            </div>


        <div class="c-social-feed-item__content pt-3">







<div class="c-description text-white overflow-hidden">
    Vandaag trainen we al onze 1.600 medewerkers in België zowel op klantgerichtheid als op technisch vlak om u en onze 60.000 andere klanten nog beter te kunnen bedienen. Onze kantoren zijn dan ook...
</div>


        </div>

    </a>

</div>

                            </li>


                    </ul>



                </div>

            </div>
        </section>



    </div>




				</main>

			</div>

			<div class="c-site-wrapper__row c-site-wrapper__row--footer flex-shrink w-full mx-auto relative z-10">




<footer class="c-footer js-c-footer relative" role="contentinfo">

    <div class="c-footer__bg-gradient absolute pin-x pin-y z--1"></div>

    <div class="c-footer__row c-footer__row--primary">

        <div class="c-footer__columns flex flex-wrap md:flex-no-wrap pt-2 sm:pt-8">

            <div class="c-footer__column c-footer__column--footer-nav px-4 sm:px-6 md:px-0 w-full md:w-1/3 md:pl-1/12 xxl:pl-1/6">

                <h4 class="c-footer__column-title">
                    Vinçotte Innovation
                </h4>









    <nav class="c-footer-nav js-c-footer-nav  text-0">

        <ul class="c-footer-nav__list test flex">



                <li class="c-footer-nav__item js-c-footer-nav__item is-active is-first">
            <a class="c-footer-nav__link js-c-footer-nav__link is-active is-first block" href="https://innovation.vincotte.be/fr/" >

                <span class="c-footer-nav__label js-c-footer-nav__label c-footer-nav__link-label block">

                    Accueil

                </span>

            </a>


        </li>





                <li class="c-footer-nav__item js-c-footer-nav__item">
            <a class="c-footer-nav__link js-c-footer-nav__link block" href="https://innovation.vincotte.be/fr/innovations" >

                <span class="c-footer-nav__label js-c-footer-nav__label c-footer-nav__link-label block">

                    Innovations

                </span>

            </a>


        </li>





                <li class="c-footer-nav__item js-c-footer-nav__item">
            <a class="c-footer-nav__link js-c-footer-nav__link block" href="https://innovation.vincotte.be/fr/digital-innovation-lab" >

                <span class="c-footer-nav__label js-c-footer-nav__label c-footer-nav__link-label block">

                    Digital Innovation Lab

                </span>

            </a>


        </li>





                <li class="c-footer-nav__item js-c-footer-nav__item">
            <a class="c-footer-nav__link js-c-footer-nav__link block" href="https://innovation.vincotte.be/fr/a-propos-de-vincotte" >

                <span class="c-footer-nav__label js-c-footer-nav__label c-footer-nav__link-label block">

                    À propos de Vinçotte

                </span>

            </a>


        </li>





                <li class="c-footer-nav__item js-c-footer-nav__item">
            <a class="c-footer-nav__link js-c-footer-nav__link block" href="https://innovation.vincotte.be/fr/contact" >

                <span class="c-footer-nav__label js-c-footer-nav__label c-footer-nav__link-label block">

                    Contact

                </span>

            </a>


        </li>




        </ul>

    </nav>


            </div>

            <div class="c-footer__column c-footer__column--newsletter-subscription px-4 sm:px-6 md:px-0 w-full md:w-2/3 md:pr-1/12 xxl:pr-1/6">

                <h4 class="c-footer__column-title">
                    Nieuwsbrief
                </h4>

                <div class="flex flex-col sm:flex-row sm:justify-between">

                    <div class="w-full lg:w-1/2">


                        <a class="c-link c-link--primary is-visible text-white group text-14 font-medium"  href="https://www.vincotte.be/fr/inscriver-newsletter" target="_blank">
                            <span class="c-link__label group-hover:text-white">
                                                                    s&#039;inscrire
                                                            </span>
                        </a>


                    </div>

                    <div class="pt-4 sm:pt-0 sm:pl-6">





<div class="c-social-nav c-social-nav--footer pt-1">

    <ul class="c-social-nav__list flex -ml-2 text-0">


            <li class="c-social-nav__item c-social-nav__item--facebook pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--facebook inline-block leading-0" target="_blank" href="https://www.facebook.com/VincotteOfficial/">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--facebook c-svg" width="8" height="15" viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg"><path d="m29.1926437 40v-6.8421645h2.3587041l.3531292-2.6665607h-2.7118333v-1.7024812c0-.7720316.2201448-1.2981941 1.3571744-1.2981941l1.4501819-.0005958v-2.3849433c-.2508754-.0324383-1.1116701-.1050604-2.1131319-.1050604-2.0907638 0-3.522181 1.2426517-3.522181 3.5247855v1.9664893h-2.3646871v2.6665607h2.3646871v6.8421645z" transform="translate(-24 -25)"/></svg>
                    </span>

                </a>
            </li>


            <li class="c-social-nav__item c-social-nav__item--linkedin pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--linkedin inline-block leading-0" target="_blank" href="https://nl.linkedin.com/company/vincotte">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--linkedin c-svg" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="m128.403575 29.1304905h3.118532v10.8684851h-3.118532zm1.479774-1.3594571h-.022578c-1.12888 0-1.860771-.8308362-1.860771-1.8829555 0-1.073633.753528-1.8880779 1.904986-1.8880779 1.150517 0 1.857949.812396 1.880527 1.8850045 0 1.0521193-.73001 1.8860289-1.902164 1.8860289zm14.116651 12.2289666h-3.536218v-5.6253041c0-1.4721475-.553152-2.4761173-1.76952-2.4761173-.930386 0-1.44779.6771673-1.688618 1.3317966-.09031.2335766-.076199.5603791-.076199.8882059v5.8814189h-3.503293s.045156-9.9638878 0-10.8695095h3.503293v1.7057241c.206961-.7458061 1.326435-1.810219 3.112888-1.810219 2.216369 0 3.957667 1.5643489 3.957667 4.9296966z" transform="translate(-128 -24)"/></svg>
                    </span>

                </a>
            </li>


            <li class="c-social-nav__item c-social-nav__item--twitter pl-2 text-0 leading-0">
                <a class="c-social-nav__link c-social-nav__link--twitter inline-block leading-0" target="_blank" href="https://twitter.com/VincotteBelgium">

                    <span class="c-social-nav__icon flex items-center content-center">
                        <svg class="c-social-nav__svg c-social-nav__svg--twitter c-svg" width="18" height="15" viewBox="0 0 18 15" xmlns="http://www.w3.org/2000/svg"><path d="m263.879556 27.371443c.762811-.4680052 1.348125-1.2100968 1.622821-2.0941066-.71421.4344215-1.503434.7485917-2.345483.9186769-.671949-.7366749-1.63233-1.1960133-2.695193-1.1960133-2.039091 0-3.691495 1.6954355-3.691495 3.7862921 0 .2968366.030639.5860898.094031.8623429-3.068146-.1581684-5.788696-1.6640185-7.611199-3.9563773-.318014.5611729-.499736 1.2111801-.499736 1.9045212 0 1.3130145.651875 2.4721941 1.642895 3.152535-.605389-.0195002-1.174855-.1917521-1.673535-.4734219v.0465838c0 1.8351871 1.272055 3.3659541 2.96355 3.7126246-.310618.0888343-.636027.1332515-.974115.1332515-.237718 0-.470153-.0227503-.694136-.0671674.469097 1.5036833 1.833069 2.6000289 3.449551 2.6292792-1.264659 1.0161779-2.856841 1.6206847-4.586371 1.6206847-.29794 0-.59271-.0162502-.881141-.0520006 1.634443 1.0735952 3.575277 1.7008522 5.660856 1.7008522 6.793449 0 10.506075-5.7698974 10.506075-10.7738697 0-.1646685-.002113-.3282537-.009509-.4896721.721606-.5340893 1.349181-1.20143 1.842578-1.9608551-.662441.30117-1.374538.5048389-2.120444.5958399z" transform="translate(-248 -25)"/></svg>
                    </span>

                </a>
            </li>


    </ul>

</div>


                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="c-footer__row c-footer__row--secondary pt-3">

        <div class="c-container">

            <div class="flex justify-between items-end pb-4">

                <div class="flex items-center pt-3">









    <nav class="c-legal-nav js-c-legal-nav c-legal-nav--footer js-c-legal-nav--footer text-0 mr-3 text-0">

        <ul class="c-legal-nav__list test flex">



                <li class="c-legal-nav__item js-c-legal-nav__item is-first">
            <a class="c-legal-nav__link js-c-legal-nav__link is-first block" href="https://www.vincotte.be/nl/privacy-policies/versie-1-1" >

                <span class="c-legal-nav__label js-c-legal-nav__label c-legal-nav__link-label block">

                    Déclaration de confidentialité

                </span>

            </a>


        </li>




        </ul>

    </nav>





<div class="c-moqo-logo text-0">

    <a class="c-moqo-logo__link inline-flex items-center text-0 transition group" href="https://www.moqo.be" target="_blank">
        <span class="c-moqo-logo__site-by transition text-12 text-santas-grey mr-0.5">
            site by
        </span>
        <span class="c-moqo-logo__moqo transition text-12 text-santas-grey group-hover:text-white">
            MOQO
        </span>
    </a>

</div>

                </div>

                <div class="text-0 pt-3">
                    <a class="block" href="https://www.vincotte.be/" target="_blank">
                        <svg width="63" height="63" viewBox="0 0 63 63"><g fill="none" fill-rule="evenodd"><path d="m2 2h59v40h-59z" fill="#065bbb"/><g fill="#fff" fill-rule="nonzero"><path d="m39.0197239 7.20816297-2.6227351 4.32639223-10.4311633 17.2806616-1.0859568-1.9153688 2.1793858-3.6065722-4.483308-7.4323284h-11.0961873l11.9330714 19.5472229c.7771068 1.2603077 2.3288295 2.241654 4.6576589 2.241654s3.9602554-.9838371 4.7323807-2.241654l17.313041-28.20000733z"/><path d="m0 0v63h63v-63zm61 61h-59v-17h59zm0-19h-59v-40h59z"/><path d="m10.944 48.295h2.06l-2.986 8.474h-1.318l-2.986-8.474h2.057l1.589 5.221z"/><path d="m13.861 48.295h1.91v8.381h-1.91z"/><path d="m21.893 56.676-2.891-4.513.022 4.513h-1.855v-8.381h1.487l2.894 4.516-.023-4.516h1.856v8.381z"/><path d="m27.9534254 48.0959319c.9614204 0 1.8531006.1021198 2.4658194.3686275v1.977637c-.7741223-.3507999-1.6159964-.5268281-2.4658194-.5155804-1.1332807 0-1.521834 1.0187072-1.521834 2.560467s.3885533 2.5579763 1.521834 2.5579763c.8496678.0123566 1.6916041-.1628342 2.4658194-.5130897v1.977637c-.6127188.2689984-1.494436.3686275-2.4658194.3686275-2.615263 0-3.4546379-1.7883417-3.4546379-4.3911511s.8393749-4.3911511 3.4546379-4.3911511m6.724962 1.8306841c-1.1955488 0-1.3748812.8617914-1.3748812 2.5579763 0 1.6961848.1793324 2.560467 1.3748812 2.560467s1.3748811-.8617914 1.3748811-2.560467-.1818231-2.5579763-1.3748811-2.5579763m0 6.9516181c-2.9191317 0-3.3051943-2.2018024-3.3051943-4.3936418 0-2.1918395.3860626-4.3886604 3.3051943-4.3886604 2.9191316 0 3.307685 2.2018024 3.307685 4.3886604s-.3810812 4.3936418-3.307685 4.3936418"/><path d="m42.265 50.131v6.545h-1.91v-6.545h-2.003v-1.836h5.911v1.836z"/><path d="m48.813 50.131v6.545h-1.91v-6.545h-2.003v-1.836h5.913v1.836z"/><path d="m56.823 53.279h-3.173v1.564h3.497v1.833h-5.372v-8.381h5.372v1.833h-3.497v1.308h3.173z"/><path d="m26.905 57.807h3.422v1.746h-3.422z"/></g></g></svg>
                    </a>
                </div>

            </div>

        </div>

    </div>

</footer>




			</div>

		</div>

		<script>
			window.lazySizesConfig = window.lazySizesConfig || {};
			window.lazySizesConfig.lazyClass = 'lazyload';
			window.lazySizesConfig.expand = 0;
		</script>

		<script src="https://innovation.vincotte.be/js/vendor/vendor.b133cbbbe8.js"></script>
		<script src="https://innovation.vincotte.be/js/main.8f13d25562.js"></script>

		<script type="text/javascript">
			var cpm = {};
			(function(h,u,b){
			var d=h.getElementsByTagName("script")[0],e=h.createElement("script");
			e.async=true;e.src='https://cookiehub.net/c2/18bfe27d.js';
			e.onload=function(){u.cookiehub.load(b);}
			d.parentNode.insertBefore(e,d);
			})(document,window,cpm);
		</script>


	<script type="application/ld+json">{"@context":"http://schema.org","@graph":[{"@type":"WebPage","author":{"@id":"#identity"},"copyrightHolder":{"@id":"#identity"},"copyrightYear":"2019-03-11T12:14:00+01:00","creator":{"@id":"#creator"},"dateModified":"2020-11-19T11:13:59+01:00","datePublished":"2019-03-11T12:14:00+01:00","headline":"Vinçotte Innovation — Innovating today \u2028for a safer tomorrow","inLanguage":"fr","mainEntityOfPage":"https://innovation.vincotte.be/fr/","name":"Vinçotte Innovation — Innovating today \u2028for a safer tomorrow","publisher":{"@id":"#creator"},"url":"https://innovation.vincotte.be/fr"},{"@id":"#identity","@type":"LocalBusiness","priceRange":"$"},{"@id":"#creator","@type":"Organization"},{"@type":"BreadcrumbList","description":"Breadcrumbs list","itemListElement":[{"@type":"ListItem","item":"https://innovation.vincotte.be/fr","name":"Home","position":1}],"name":"Breadcrumbs"}]}</script><script src="https://innovation.vincotte.be/js/custom/_header.7775734c95.js"></script>
<script src="https://innovation.vincotte.be/js/custom/_home-slider.3c784c3609.js"></script>
<script src="https://innovation.vincotte.be/js/custom/_innovation-item.27ff2c5230.js"></script>
<script src="https://innovation.vincotte.be/js/custom/_pinned-content.6fae1349a0.js"></script>
<script src="https://innovation.vincotte.be/js/custom/_social-feed.414328541a.js"></script>
<script src="https://innovation.vincotte.be/js/custom/home.c775f4a532.js"></script>
<script>//<script>

    var screen_width = 0;

    $(function () {

        $(window).resize(resizeHomeSlider);
        resizeHomeSlider();

    });

    function resizeHomeSlider() {

        var window_height = $('.js-c-viewport-height').outerHeight();

        //var goresize = true;
        var navContentHeight = $('.js-c-home-slider__columns').outerHeight();

        screen_width = $(window).width() + window.getScrollbarWidth();

        if ( navContentHeight > window_height ) {
            //var goresize = false;
            window_height = navContentHeight;
        }

        //if ( goresize ) {

            slide_height = window_height;

            if (screen_width < 960) {
                slide_height = 'auto';
            }

            $('.js-c-home-slider__slide').css('height', slide_height);

        //}

    };
//<script>

    $(function() {

        $(window).trigger('resize');

    });</script></body>
</html>
